# Ignora node_modules em qualquer subdiretório
node_modules/
**/node_modules/

# Ignora arquivos de log e temporários
*.log
*.tmp
npm-debug.log
yarn-error.log
coverage/

# Ignora arquivos e pastas de configuração de IDE
.idea/
.vscode/
.vssettings/

# Ignora qualquer arquivo .env em qualquer subdiretório
**/.env
